# Access Transformer

public net.minecraft.client.gui.components.ScrollableLayout container
public net.minecraft.client.gui.components.ScrollableLayout$Container
public net.minecraft.client.gui.components.AbstractWidget areCoordinatesInRectangle(DD)Z
public net.minecraft.client.gui.screens.Screen addRenderableWidget(Lnet/minecraft/client/gui/components/events/GuiEventListener;)Lnet/minecraft/client/gui/components/events/GuiEventListener;
public net.minecraft.client.gui.screens.inventory.tooltip.TooltipRenderUtil BACKGROUND_SPRITE
public net.minecraft.client.gui.screens.inventory.tooltip.TooltipRenderUtil FRAME_SPRITE
public net.minecraft.client.gui.GuiGraphicsExtractor scissorStack